.cart-conatiner {
	.cart-items-conatiner {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		.cart-item {
			background: #fff;
			display: flex;
			padding: 2rem;
			flex-direction: row;
			margin: 2rem;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			.img-desc-container {
				display: flex;
				.item-name-price {
					font-size: 2rem;
					padding: 1rem;
					font-weight: 600;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}
				.item-image {
					img {
						max-height: 20rem;
						// min-width: 15rem;
						height: 20rem;
						width: 20rem;
						max-width: 20rem;
					}
				}
			}

			.add-remove-btn {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 8rem;
				align-items: center;
				height: 3rem;
				border-radius: 0.5rem;
				background: #5dc083;
				color: #fff;
			}
		}
	}
}
