.favourite-items-container {
	padding-bottom: 2rem;
	border-bottom: 1px solid #ccc;
	margin: 2rem;
	.favourite-items-header {
		margin: 10px;
	}
	.favourite-items-content {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		margin-bottom: 20px;
		width: 100%;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			display: none;
		}
		.card-container {
			flex: 0 0 auto;
			margin: 10px;
		}
	}
}
