.header-container {
	top: 0;
	height: 80px;
	color: #fff;
	// position: fixed;
	width: 100%;
	margin: 0 auto;
	background: linear-gradient(to bottom left, #5ec386 50%, #5fc56e 50%);
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}
